*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.top{
    width: 100%;
    height: 50px;
}

.logo{
    background-color: #1c1c1c;
    color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
}

input[type=text]{
    width: 50%;
}

input[type=email]{
    width: 50%;
}

input[type=number]{
    width: 50%;
}

input[type=url]{
    width: 50%;
}

.add1{
    background-color: #1c1c1c;
}

.bottom{
    width: 100%;
    height: 70px;
    font-size: 17px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
